<Form action="/" method="post">
  <select name="player1">
    <option>Rock</option>
    <option>Paper</option>
    <option>Scissors</option>
  </select>
</form>
<!-- <Form action="/" method="post">
  <select name="player2">
    <option>Rock</option>
    <option>Paper</option>
    <option>Scissors</option>
  </select>
</form> -->
